<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.TbroleMapper">

    <resultMap type="Role" id="roleResultMap">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="rights" property="rights"/>
    </resultMap>
    <select id="gdtRoleById" parameterType="int" resultMap="roleResultMap">
        SELECT *FROM tb_role WHERE role_id=#{roleId}
    </select>
</mapper>